.input[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

.input[type="file"] + label {
  background: rgb(103, 117, 139);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 10px 15px;
  border-radius: 11px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.input[type="file"] + label:hover {
  background-color: darken(#f15d22, 10%);
}

.btn-1 {
  background-color: #f79159;
  box-shadow: 0 6px darken(#f79159, 10%);
  transition: none;
}
.btn-1:hover {
  box-shadow: 0 4px darken(#f79159, 10%);
  top: 2px;
}
